.footer {
  padding: 20px;
  justify-content: end;
  display: flex;
  gap: 20px; /* Space between buttons */
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 15px;
}

.footer-item:hover {
  color: #000;
}

.footer-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
