* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: #fff;
}

.content-container {
  width: 100%;
  /* border: 2px solid black; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  margin-top: 4px;
}

.projects-div > div {
  width: 99.5%;
}

@media screen and (max-width: 1024px) {
  .projects-div > div {
    width: 99.5%;
  }
}

@media screen and (max-width: 767px) {
  .projects-div > div {
    width: 90%;
  }

  .projects-container {
    flex-direction: column;
  }
}
