.mapboxgl-popup .mapboxgl-popup-content {
  max-width: 2\550px !important;
  width: auto !important;
  padding: 10px !important;
  font-size: 12px;
  max-height: 400px !important;
  height: auto !important;
  background-color: white !important;
}

.mapboxgl-popup .mapboxgl-popup-close-button {
  background-color: white !important;
}

.mapboxgl-popup .mapboxgl-popup-tip {
  border-top-color: white !important;
  border-bottom-color: white !important;
}
